[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=......terminal
Comment=Terminal of this RDE-Env
Icon=icons/rde-env-terminal.png
Exec=terminal
Terminal=true
