[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=RDE-Env Deactivate
Comment=RDE-Env Deactivate
Icon=icons/rde-env-disable.png
Exec=deactivate
Path=~
Terminal=false
